In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("players_20.csv")

In [83]:
df.head()

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
3,200389,https://sofifa.com/player/200389/jan-oblak/20/...,J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,183277,https://sofifa.com/player/183277/eden-hazard/2...,E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3

In [82]:
count = df.groupby('nationality')['sofifa_id'].count().reset_index()
age = df.groupby('nationality')['age'].mean().round(1).reset_index()

summary = count.merge(age)
summary.columns =['Nationality', 'Count', 'Avg Age']
summary.head(10)

         Nationality  Count  Avg Age
0        Afghanistan      2     24.5
1            Albania     43     24.8
2            Algeria     50     26.8
3             Angola     16     26.0
4  Antigua & Barbuda      7     22.9
5          Argentina    886     26.4
6            Armenia      8     26.6
7          Australia    196     24.3
8            Austria    319     25.3
9         Azerbaijan      6     25.5